/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: "Albert Sans", sans-serif;

  @apply text-neutral-900 bg-neutral-50 dark:text-neutral-50 dark:bg-neutral-900;
  @apply text-xs sm:text-sm;
}

.loading-bar-container {
  margin-top: 20px;
  text-align: center;
}

.loading-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.loading-bar span {
  display: block;
  padding: 10px;
  color: #000;
}

.loading-bar.loading {
  background-color: #ffb74d;
  animation: loading-animation 2s linear forwards; /* Stop at 100% */
}

.loading-bar.loaded {
  background-color: #4caf50; /* Green when loaded */
}

@keyframes loading-animation {
  0% {
    width: 0;
    background-color: #ffb74d;
  }
  100% {
    width: 100%;
    background-color: #ff9800; /* Change color at the end */
  }
}

/*rpoject */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
